# Registry properties
IceGrid.Registry.Client.Endpoints=tcp -p 4061:ws -h localhost -p 4063
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.Data=/mnt/hdd/opt/icegrid/registry

# Node properties
IceGrid.Node.Endpoints=tcp
IceGrid.Node.Name=raffles
IceGrid.Node.Data=/mnt/hdd/opt/icegrid/raffles
IceGrid.Node.CollocateRegistry=1
Ice.Default.Locator=IceGrid/Locator:tcp -p 4061:ws -p 4063
Ice.Default.LocatorCacheTimeout=-1