# Registry properties
IceGrid.Registry.Client.Endpoints=tcp -h ritz -p 4061:ws -h ritz -p 4063
IceGrid.Registry.Server.Endpoints=tcp -h ritz
IceGrid.Registry.Internal.Endpoints=tcp -h ritz
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.LMDB.Path=/home/andy/icegrid/registry
#IceGrid.InstanceName=tiger1
Ice.Trace.Network=3
Ice.StdOut=/tmp/ritz.txt
Ice.StdErr=/tmp/ritz.txt

IceLocatorDiscovery.Trace.Lookup=2

# Node properties
IceGrid.Node.Endpoints=tcp -h ritz
IceGrid.Node.Name=ritz
IceGrid.Node.Data=/home/andy/icegrid/ritz
IceGrid.Node.CollocateRegistry=1
Ice.Default.Locator=IceGrid/Locator:tcp -h ritz -p 4061:ws -h ritz -p 4063
Ice.Default.LocatorCacheTimeout=-1
Ice.Trace.Network=1



