*~
/cpp/.sconsign.dblite
/cpp/simpleCppApp
/cpp/simpleCppApp.o
*.iml
java/.idea/**
java/icetest/target/**
*.orig
js/node_modules/**
js/bower_components/**
\#*\#
/cpp/Foo.cpp
/cpp/Foo.h
/cpp/Foo.o
/java/icetest/src/main/java/argo/Callback_Foo_doit.java
/java/icetest/src/main/java/argo/Callback_Foo_doitAgain.java
/java/icetest/src/main/java/argo/Foo.java
/java/icetest/src/main/java/argo/FooHolder.java
/java/icetest/src/main/java/argo/FooPrx.java
/java/icetest/src/main/java/argo/FooPrxHelper.java
/java/icetest/src/main/java/argo/FooPrxHolder.java
/java/icetest/src/main/java/argo/_FooDisp.java
/java/icetest/src/main/java/argo/_FooOperations.java
/java/icetest/src/main/java/argo/_FooOperationsNC.java
/python/locator.properties
/python/discovery.pyc
/python/common.pyc
bower_components/**
/js/.#package.json.orig
/js/assets/**
/java/target/**
/config/apps/.#simpleApp.xml
/js/.#sayHello.js
/npm-debug.log
/js/.#doit.js
/clj/.nrepl-port
/clj/target/*
/js/lib/*
/js/.#Foo.js
.*pyc
/multicast/Client
/multicast/Server
*.o
*.pyc
.sconsign.dblite
/discovery/Client
/discovery/Server
**/target/**