<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!--https://logging.apache.org/log4j/2.x/manual/layouts.html -->
      <!--<PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36}:%L - %msg%n"/> -->
      <!--<PatternLayout pattern="%d{ISO8601} %highlight{%-5level [%t]: %msg%n%throwable}"/> -->
      <PatternLayout pattern="%d{ISO8601} %highlight{%-5level %c{2}:%L [%t] : %msg%n%throwable}"/>
      <ImmediateFlush value="true" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
